.dropdownbox > div {display:block;}
.comment_meta {display:none;}
.commentlist {display:none;}
.comments {display:none;}
.meta {display:none;}
.reply {display:none;}
.navigation {display:none;}
#bubble {display:none;}
#commentform {display:none;}
#comments {display:none;}
#footer {display:none;}
#respond {display:none;}
#sidebar {display:none;}
#loginslider {display:none;}