body
{
margin:auto;
padding:auto;

}
.heading
{
width:100%;
margin:auto;
padding:0px 0px 0px 35px;
height:100px;
background-color:#3B5998;
color:white;
font-size:42px;
font-family:'Cambria Math';
}
.logo
{
margin:auto;
float:left;
padding:20px;
}
.signin
{
margin:auto;
float:right;
padding:3px 110px 0px 0px;
}
