body
{
color:#000000;
background-color:#ffffff;
margin:4px;
margin-top:0px;
}

.maintable
{
width:100%;
background-color:#E5EAEF;
border:solid gray 1px;
margin-left:0px; 
}

.code_input, .result_output
{
border:1px solid gray;
width:100%;
height:400px;
background-color:#ffffff;
}

.toptext
{
color:#1B79C8;
font-family:verdana;
margin-top:0px;
margin-bottom:8px;
font-size:120%;
}

.result_header
{
margin-bottom:12px;
margin-top:0px;
font-family:verdana;
font-size:90%;
color:1B79C8
}

.bottomtext_div
{
margin-right:3px;
}
.bottomtext
{
color:#1B79C8;
font-family:verdana;
margin-bottom:0px;
margin-top:8px;
font-size:90%;
}