html,body{margin:0;padding:0}
body{font: 80% arial,sans-serif}
p{margin:0 10px 10px}
a{display:block;color: #006;padding:5px}
div#header{position:relative}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;background: #EEE;color: #79B30B; font-style: italic;}
div#header a{position:absolute;right:0;top:23px}
div#content p{line-height:1.4;margin:45px}
div#login{background:#FFF;}
div#extra{background:#FF8539}
div#extra_top{background:#FF8539}
div#footer{background: #333;color: #FFF;}
div#footer p{margin:0;padding:5px 10px}
div#footer a{display:inline;padding:0;color: #C6D5FD}
div#mainpagelogo{float:left;width:50%;}
div#login{float:right;width:50%}
div#wrapper{float:right;width:87%;border-width: 1px; border-left-style: solid; border-color: #e0dfdf;}
div#navigation{background:#FFF}
div#navigation{float:left;width:10%}
div#extra{clear:both;width:100%}
div#extra_top{clear:both;width:100%}
div#context{margin:45px}
div#header_bottom{float:right;}
ul{list-style-type:none;font-size: 13px;margin:0;padding-left:35px;}
#newspaper-a{	margin: 0px;	text-align: left;border-collapse: collapse;	border: 1px solid #e0dfdf;}
#newspaper-a th{	padding: 12px 17px 12px 17px;	font-weight: normal;	font-size: 14px;	color: #039;	border-bottom: 1px solid #e0dfdf;background: #eeeeee;}
#newspaper-a td{	padding: 7px 17px 7px 17px;	color: #669;}
#newspaper-a tbody tr:hover td{	color: #339;	background: #d0dafd;}

