<?xml version="1.0" encoding="UTF-8"?>
<!-- <taglib xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5"> -->
<taglib xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:ShcemaLocation="http://java.sun.com/xml/ns/javaee/web-jsptaglibrary-2-0.xsd" version="2.0">
<tlib-version>1.2</tlib-version>
<uri>/hello</uri>
<tag>
	<name>hello</name>
	<tag-class>CustomTag</tag-class>
	<body-content>empty</body-content>
</tag>
</taglib>