/*1353422703,173217045*/

.sp_send{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/y0/x/L_eKU7B19IY.png);background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_send_fav{background-position:-0px -0px}
.sx_send_favgrey{background-position:-0px -15px}
.fbDarkWidget .fan_box,
.fbDarkWidget .uiStream .uiStreamMessage{color:gray}
.fbDarkWidget .fan_box a{color:#ccc}
.fan_box .full_widget{border:solid 1px #94a3c4;background:white}
.fan_box .full_widget .connect_top{background:#eceff5}
.fan_box .connect_top{padding:10px 10px 8px 10px}
.pts .fan_box .connect_top{padding:5px 10px 8px 5px}
.fan_box .profileimage{float:left;width:40px;height:40px;padding:0 10px 0 0;margin:0 0 4px 0}
.fan_box .connect_action{padding:0 0 0 8px}
.fan_box .connect_action .name{line-height:15px;font-size:14px;font-weight:bold}
.fan_box .connect_button{padding-top:5px}
.fan_box .connect_button .uiButton{margin:1px 0 0 0}
.fan_box .connect_action a.undo{margin:0 0 0 3px}
.fan_box .page_stream, .fan_box .page_stream_short{text-align:center;padding:0 5px;overflow:auto;border-top:solid 1px #d8dfea;position:relative}
.fan_box .storyContent{text-align:left}
.fan_box .page_stream{overflow-x:hidden}
.fan_box .page_stream .loader{padding-top:20px}
.fan_box .UIIntentionalStory{background:transparent;text-align:left;padding:7px 0 0 0}
.fan_box .UIIntentionalStory .UIMediaItem_UnknownWidth{max-width:100px}
.fan_box .connections{border-top:solid 1px #d8dfea;padding:10px 0 4px 10px;min-height:150px}
.pts .fan_box .connections{padding:5px 0 4px 5px}
.fan_box .connections .connections_grid{padding-top:5px}
.fan_box .connections_grid .grid_item{float:left;padding:0 5px 8px 0;overflow:hidden;width:50px}
.fan_box .connections_grid .grid_item .name{font-size:9px;color:gray;overflow:hidden;padding-top:2px;text-align:center;white-space:nowrap}
.fan_box .connect_span{margin:0 0 1px}
.fan_box .connect_widget .connect_widget_text{padding:0}
.fan_box .connect_widget td.connect_widget_vertical_center{height:20px}
.fan_box .connect_widget .connect_widget_interactive_area{margin:5px 0 0}
.connect_comment_widget{margin:0;padding:5px 0;position:relative}
.connect_comment_widget .nub{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y6/x/agyQHs6yLID.gif);height:6px;width:9px;padding:0;margin:0;line-height:0;position:absolute;z-index:2;top:0;visibility:hidden}
.connect_comment_widget .side_nub{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v2/yX/x/vAOEfR4cWQM.gif) no-repeat 0 0;height:20px;width:6px;padding:0;margin:0;left:-5px;line-height:0;position:absolute;z-index:2;top:14px}
.connect_comment_widget_rtl .side_nub{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v2/yy/x/R95msRfVr6a.gif) no-repeat 0 0}
.connect_comment_widget .comment_content{background:white;border-color:#333333 #333333 #283e6c;border-style:solid;border-width:1px 1px 2px;zoom:1}
.connect_comment_widget .connect_comment_widget_text{padding:8px 8px 4px}
.connect_comment_widget .connect_comment_widget_custom_text{color:gray}
.connect_comment_widget .connect_comment_widget_placeholder_input{width:304px;color:gray;line-height:16px;height:20px}
.connect_comment_widget .connect_comment_widget_placeholder_input_region{padding:8px 8px 5px}
.connect_comment_widget .connect_comment_widget_user_pic{display:block;float:left;height:auto;padding:0 5px 0 0;width:50px}
.connect_comment_widget .connect_comment_widget_full_input_textarea{height:50px;width:310px}
.connect_comment_widget .connect_comment_widget_full_input_region{padding:8px 8px 5px}
.connect_comment_widget textarea.connect_comment_widget_disabled{color:gray}
.connect_comment_widget.like_button_dark textarea.connect_comment_widget_disabled{color:#dedede}
.connect_comment_widget div.connect_comment_share_preview{padding-left:55px;padding-top:6px}
.connect_comment_widget div.connect_comment_widget_button_region{padding:8px 8px 5px;text-align:right;background-color:#f2f2f2;border-top:1px solid #bdc7d8}
.connect_comment_widget_checkbox_region div.uiinputlabel{display:inline-block;float:left}
.connect_comment_widget.like_button_dark div.connect_comment_widget_button_region{background-color:#333;border-top:1px solid #666}
.like_button_dark .nub, .like_button_dark .connect_widget_comment_box_upward_nub{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yp/x/7vbl1usLlV8.gif)}
.like_button_dark .side_nub{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v2/y3/x/Gvy8rtIdNBK.gif) no-repeat 0 0;left:-4px}
.connect_comment_widget_rtl.like_button_dark .side_nub{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v2/yc/x/E-2vs4qfO7d.gif) no-repeat 0 0}
.like_button_dark .comment_content{background:#111;border:1px solid #666;border-bottom:2px solid #ccc;color:#ccc}
.like_button_dark .connect_comment_widget_placeholder_input{border:1px solid #505050;background:#505050;color:#fff}
.like_button_dark .connect_comment_widget_full_input_textarea, .like_button_dark .connect_comment_widget_placeholder_input{background-color:#000;border-color:#434343;color:#fff}
.like_button_dark .connect_comment_widget_full_input_textarea{color:#fff}
.like_button_dark a{color:#fff}
.connect_comment_widget .connect_comment_widget_title{font-size:12px;font-weight:bold;margin-top:-2px}
.connect_comment_widget.like_button_dark .connect_comment_widget_title{color:#fff}
.connect_comment_widget .connect_comment_widget_description, .connect_comment_widget .connect_comment_widget_href{font-size:11px;line-height:11px;margin-bottom:6px}
.connect_comment_widget .connect_comment_widget_description{color:#000}
.connect_comment_widget.like_button_dark .connect_comment_widget_description{color:#fff}
.like_button_dark .connect_comment_widget_href{color:gray}
.connect_widget .connect_widget_interactive_area{border-collapse:collapse}
.connect_widget td.connect_widget_vertical_center{border-spacing:0;font-size:11px;line-height:normal;padding:0}
.connect_widget td.connect_widget_button_cell{vertical-align:top}
.connect_widget td.connect_widget_confirm_cell{padding-top:4px}
.connect_widget .connect_button_slider{position:relative;zoom:1}
.connect_widget .connect_widget_button_cell .connect_slide_hide_content{overflow:hidden;width:1px;margin-right:0}
.connect_widget .connect_slide_hide_content .connect_button_container{margin-left:1px}
.button_count .connect_widget_interactive_area .connect_widget_facebook_favicon, .button_count .connect_widget_interactive_area .connect_widget_text{float:left;position:static}
a.connect_widget_like_button{display:block;float:left;border-radius:3px;-moz-border-radius:3px;padding:4px 5px;border:1px solid #000}
.button_count a.connect_widget_like_button{padding:2px 4px}
a.connect_widget_like_button span{line-height:14px}
a.connect_widget_like_button:hover{text-decoration:none}
.connect_widget_number_cloud{position:relative;background:#fff;border:1px solid #d3d3d3;height:25px;padding-top:7px;text-align:center}
.like_widget_dark div.connect_widget_number_cloud{background-color:#d7d7d7;border-color:#d7d7d7}
div.connect_widget_number_cloud table.connect_widget_number_cloud_summary{margin-left:auto;margin-right:auto}
div.connect_widget_number_cloud table.connect_widget_number_cloud_summary td{font-size:13px}
.thumbs_up_icon{width:15px;height:15px;margin-right:2px;background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/ql9vukDCc4R.png) -1px -32px no-repeat}
.like_widget_dark .thumbs_up_icon{background-position:-1px -2px}
.like_widget_dark div.connect_widget_number_cloud_extension a{color:#333}
div.connect_widget_number_cloud .connect_widget_text{padding-left:0}
.connect_widget_number_cloud_nub{position:absolute;z-index:2;height:7px;width:7px;bottom:-7px;left:5px}
.connect_widget_number_cloud_nub s, .connect_widget_number_cloud_nub i{border:solid transparent;border-top-color:#d3d3d3;border-width:5px;display:block;position:relative}
.connect_widget_number_cloud_nub i{left:0;top:-12px;border-top-color:#fff}
.like_widget_dark .connect_widget_number_cloud_nub s{border-top-color:#d7d7d7}
.like_widget_dark .connect_widget_number_cloud_nub i{display:none}
.connect_widget_offscreen{position:absolute;top:-10000px}
div.connect_widget_number_cloud_extension{font-size:11px;height:30px;margin-left:4px;margin-right:4px;margin-top:6px}
div.connect_widget_number_cloud_extension_icon{margin-left:2px;margin-top:3px}
div.connect_widget_number_cloud_extension_text{border-color:#dedede;border-width:1px 0 0 0;border-style:solid;line-height:11px;margin-top:1px;text-align:center}
div.connect_widget_number_cloud_extension_text table{width:100%}
div.connect_widget_number_cloud_extension_text td{height:30px;text-align:center;vertical-align:middle}
div.connect_widget_number_cloud_extension span.like_reminder{color:#777;font-size:9px}
.like_widget_dark div.connect_widget_number_cloud_extension span.like_reminder{color:#333;font-size:9px}
table.connect_widget_button_count_summary, table.connect_widget_simple_summary{background-color:#eceef5;color:#000;font-size:11px;height:21px}
table.connect_widget_button_count_summary div.thumbs_up{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/ql9vukDCc4R.png) no-repeat 3px -32px #eceef5;height:15px;width:18px}
td.connect_widget_simple_including div.simple_liked{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/ql9vukDCc4R.png) no-repeat 3px -47px #eceef5;height:15px;width:18px}
.like_button_simple .connect_widget_like_button .liketext{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/ql9vukDCc4R.png) no-repeat 0 -47px #eceef5}
.connect_widget_rtl table.connect_widget_button_count_summary div.thumbs_up{background-position:-1px 0}
table.connect_widget_button_count_summary div.undo{background-color:#eceef5;height:21px;width:18px}
.like_button_dark table.connect_widget_button_count_summary div.undo{background-color:#d7d7d7}
table.connect_widget_button_count_summary label.undo_button{margin-left:6px;margin-top:4px}
table.connect_widget_button_count_summary div.summary_text{padding-left:3px;padding-right:6px;white-space:nowrap}
table.connect_widget_simple_summary div.summary_text{padding-left:3px;padding-right:6px;white-space:nowrap;color:#ccc}
.like_button_dark table.connect_widget_button_count_summary, .like_button_dark table.connect_widget_simple_summary{background-color:#d7d7d7}
.like_button_dark table.connect_widget_button_count_summary div.thumbs_up{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/ql9vukDCc4R.png) no-repeat 3px -3px}
.connect_widget_rtl .like_button_dark table.connect_widget_button_count_summary div.thumbs_up{background-position:-1px -3px}
.connect_widget_button_count_count{background:#fff;border:1px solid #d1d1d1;float:left;font-weight:normal;height:14px;margin-left:1px;min-width:15px;padding:1px 2px 1px 2px;text-align:center;line-height:14px;white-space:nowrap}
.like_button_dark div.connect_widget_button_count_count{background-color:#d7d7d7;border-color:#d7d7d7}
.connect_widget_button_count_nub{float:left;position:relative;z-index:2;height:0;width:5px;top:-5px;left:2px}
.connect_widget_button_count_nub s, .connect_widget_button_count_nub i{border:solid transparent;border-right-color:#d7d7d7;border-width:4px 5px 4px 0;top:1px;display:block;position:relative}
.connect_widget_button_count_nub i{left:2px;top:-7px;border-right-color:#fff}
.like_button_dark .connect_widget_button_count_nub i{display:none}
td.connect_widget_button_count_excluding{padding:0}
td.connect_widget_button_count_including, td.connect_widget_simple_including{padding:0}
td.connect_widget_button_count_including .connect_widget_button_count_count.noGrayOut{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v2/yc/x/qDH1xoDhFBF.gif) no-repeat 4px 2px;padding-left:22px;padding-right:4px}
.connect_widget_rtl td.connect_widget_button_count_including .connect_widget_button_count.noGrayOut{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v2/yc/x/qDH1xoDhFBF.gif) no-repeat 4px 2px;padding-right:22px;padding-left:4px}
.connect_widget_like_button .vertical{display:block;top:-6px;left:0;margin:0 3px -6px 0;position:relative;padding:3px 4px 4px 3px;border-top:solid 1px;border-bottom:solid 1px}
.button_count .connect_widget_like_button .vertical{padding:2px 3px 3px 2px}
.connect_widget_like_button .horizontal{height:100%;width:100%;position:absolute;display:block;top:-3px;left:-3px;padding-left:1px;border-left:solid 1px;border-right:solid 1px}
.connect_widget_like_button .corner_mask{overflow:hidden;width:3px;height:3px;position:absolute;display:block}
.connect_widget_like_button .corner{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/ql9vukDCc4R.png);height:6px;width:6px;display:block}
.connect_widget_like_button .topleft{top:-6px;left:-3px}
.connect_widget_like_button .topleft .corner{margin:0 0}
.connect_widget_like_button .topright{top:-6px;right:0}
.connect_widget_like_button .topright .corner{margin:0 0 0 -3px}
.connect_widget_like_button .bottomright{bottom:0;right:0}
.connect_widget_like_button .bottomright .corner{margin:-3px 0 0 -3px}
.connect_widget_like_button .bottomleft{bottom:0;left:-3px}
.connect_widget_like_button .bottomleft .corner{margin:-3px 0 0 0}
.connect_widget_like_button .liketext{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/ql9vukDCc4R.png) -1px -33px no-repeat;color:#3b5998;display:block;padding-left:17px;white-space:nowrap}
.connect_widget_rtl .connect_button_container .liketext{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/ql9vukDCc4R.png) 34px -33px no-repeat}
.connect_widget_like_button .liketextwithimage img{margin-bottom:-2px;margin-right:4px;width:13px}
.hidden .connect_widget_like_button .liketextwithimage img{height:0;margin:0;padding:0;width:0}
.connect_widget_like_button .fbLikeButtonTrackingPixel{display:inline;height:0;width:0}
.button_count .like_button_dark .like_button_no_like .liketext, .button_count .connect_widget_like_button .liketext{background-position:left -47px;margin-left:-1px}
.connect_widget .like_button_no_like .piece, .connect_widget .like_button_no_like{background-color:#eceef5;border-color:#cad4e7}
.connect_widget .like_button_no_like .corner{background-position:10px -89px}
.connect_widget a.like_button_no_like:hover .piece, .connect_widget a.like_button_no_like:hover{background-color:#ebedf4;border-color:#9dacce}
.connect_widget .like_button_no_like:hover .corner{background-position:10px -95px}
.connect_widget .like_button_pressed, .connect_widget .like_button_pressed .piece{background-color:#ced4e6;border-color:#94a5ca}
.connect_widget .like_button_pressed .corner{background-position:10px 55px}
.connect_widget .like_button_like .corner{background-position:10px 49px}
.connect_widget .like_button_dark .like_button_no_like, .connect_widget .like_button_dark .like_button_no_like .piece{background-color:#d7d7d7;border-color:#cad4e7}
.connect_widget .like_button_dark .like_button_no_like .corner{background-position:10px -217px}
.connect_widget .like_button_dark .liketext{color:#333;background-position:left -3px;margin-left:-1px}
.connect_widget .like_button_dark .like_button_no_like:hover, .connect_widget .like_button_dark .like_button_no_like:hover .piece{background-color:#d9d9d9;border-color:#e9e9e9}
.connect_widget .like_button_dark .like_button_no_like:hover .corner{background-position:10px -217px}
.connect_widget .like_button_dark .like_button_no_like_pressed, .connect_widget .like_button_dark .like_button_no_like_pressed .piece{background-color:#a8a8a8;border-color:#a8a8a8;border-top-color:#8f8f8f}
.connect_widget .like_button_dark .like_button_no_like_pressed .corner{background-position:10px 80px}
.connect_widget .like_button_dark .like_button_like .corner{background-position:10px 74px}
.connect_widget .connect_text_wrapper{position:relative}
.connect_widget div.connect_confirmation_cell{padding:0;margin:0}
.connect_widget div.connect_confirmation_cell_like{padding-left:0;position:relative;left:-1px}
.connect_widget div.connect_confirmation_cell_no_like{padding-left:7px}
.connect_widget .vertical_centering{padding-top:5px}
.connect_widget .connect_widget_text{display:block;padding-left:17px;line-height:14px}
.button_count .connect_widget_interactive_area .connect_widget_text{padding-left:0;font-weight:bold}
.connect_widget .like_button_dark .connect_widget_text, .connect_widget .like_button_dark .connect_widget_confirmation{color:gray}
.connect_widget .like_button_dark .connect_widget_text a{color:#fff}
.connect_widget .connect_widget_connect_button{float:left}
.connect_widget .connect_bar_widget_interactive_area{float:left}
.connect_widget .connect_bar_widget_text_cell{width:400px}
.connect_widget .connect_widget_icon{padding:4px 0 4px 4px;vertical-align:middle}
.connect_widget a.connect_widget_link_inactive{color:gray;text-decoration:none;cursor:default}
.connect_widget a.connect_widget_error_text{color:#a00;font-weight:bold}
.transparent_widget .uiBoxLightblue{background-color:transparent;background-color:rgba(165, 175, 200, .2)}
.transparent_widget .uiBoxWhite, .transparent_widget .fbConnectWidgetFooter{background-color:transparent;background-color:rgba(255, 255, 255, .2)}
div.connect_widget_comment_box_nub{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v2/yX/x/vAOEfR4cWQM.gif) no-repeat 0 0;height:12px;left:-6px;position:absolute;top:6px;width:20px;z-index:3}
div.connect_widget_comment_box_upward_nub{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v2/y6/x/agyQHs6yLID.gif) no-repeat 0 0;height:12px;left:5px;position:absolute;top:-6px;width:20px;z-index:3}
.connect_widget_rtl div.connect_widget_comment_box_nub{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v2/yy/x/R95msRfVr6a.gif) no-repeat 0 0;left:-20px}
.connect_widget div.connect_widget_comment_box{background-color:#fff;border-color:#000;border-style:solid;border-width:1px 1px 2px 1px;position:relative;z-index:100}
.connect_widget div.connect_widget_comment_box.like_button_dark{background-color:#111;color:#ccc;border-color:#666}
.connect_widget div.like_button_dark input.connect_widget_comment_textinput{background-color:#666;border-color:#666;color:#dedede}
.connect_widget div.connect_widget_header_text{float:left;height:20px;overflow:hidden;padding-left:7px;padding-top:3px;width:200px}
.connect_widget div.connect_widget_cancel_button{cursor:pointer;float:right;padding-right:7px;padding-top:3px}
.connect_widget div.connect_widget_comment_text_area_div{padding-left:7px;padding-top:2px}
.connect_widget div.connect_widget_comment_area{padding:8px}
.connect_widget .connect_widget_comment_textinput{width:325px}
.connect_widget .connect_widget_comment_summary{padding:7px 5px 7px 5px}
.connect_widget .connect_widget_comment_button{margin-left:-1px}
.connect_widget .connect_widget_comment_close_button{margin-left:2px}
.connect_widget .like_button_dark .connect_widget_comment_close_button{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/x/htZktl244wt.png);background-repeat:no-repeat;opacity:.7}
.connect_widget .like_button_dark .connect_widget_comment_close_button:hover{opacity:1}
.connect_widget textarea.connect_widget_comment_text_area{height:30px;width:476px}
.connect_widget .connect_widget_image{height:30px;width:30px;vertical-align:bottom}
.connect_widget .connect_widget_name{text-align:center}
.connect_widget .connect_widget_sample_connection{float:left;padding-right:3px;width:30px;padding-top:5px}
.connect_widget .connect_widget_user_not_connected{display:none}
.connect_widget .connect_bar_widget_sample_connections{float:right}
.connect_widget .connect_widget_whats_this{color:#999;font-size:9px;padding-top:4px}
.connect_widget .connect_widget_whats_this a:hover{color:#3b5998;text-decoration:none}
.connect_widget .page_stream img{height:auto}
.fbGalleryPrev, .fbDisabledGalleryPrev{float:left;margin-top:50px;opacity:.7}
.fbGalleryPrev:hover{opacity:1}
.fbGalleryNext, .fbDisabledGalleryNext{float:right;margin-top:50px;opacity:.7}
.fbGalleryNext:hover{opacity:1}
.fbConnectWidgetTopmost{border:1px solid #aaa;border-top-color:#315c99;overflow:hidden;padding:0;position:relative}
div.fbDarkWidget{background-color:transparent}
.fbDarkWidget .fbWidgetTitle{color:#fff}
.fbDarkWidget a, .fbDarkWidget .profileName{color:#fff}
.fbDarkWidget a.uiLinkSubtle{color:gray}
.fbDarkWidget a.fbCommentOverlayLink{color:#3b5998}
div.fbConnectWidgetHeaderTitle{border-width:0 0 1px}
div.ConnectActivityLogin{border-width:0 0 1px;zoom:1}
.fbRecommendationWidgetContent .recommendations_metadata{padding-top:3px;color:gray}
.fbDarkWidget .fbRecommendationWidgetContent .recommendations_metadata{color:#ccc}
.fbGalleryImage{max-height:125px;max-width:140px}
.fbShowBothHidden{display:none}
.fbRecommendationsContainer{display:none}
.fbShowBothRecommendationsHighlighted .fbRecommendationsContainer{display:inline}
.fbShowBothRecommendationsHighlighted .fbActivityContainer{display:none}
.fbActivityContainer{display:inline}
.fbGalleryRecommendationsFacepile{position:relative}
.fbGalleryRecommendationsFooter{width:150px}
.fbGalleryRecommendationsImageBlock{display:block;margin-left:auto;margin-right:auto;text-align:center;height:125px}
.fbGalleryRecommendationsImageContainer{width:140px;height:125px;background:#edeff4 url(http://static.ak.fbcdn.net/rsrc.php/v2/yD/x/DxzglMoaWwG.png) repeat 0 0;overflow:hidden;display:inline-block}
.fbDarkWidget .fbGalleryRecommendationsImageContainer{background-position:-125px 0}
.fbGalleryRecommendationsNode{height:275px}
.fbGalleryRecommendationsText{padding-top:3px;height:64px}
.fbShowBothActivityHeader{display:none}
.fbShowBothRecommendationsHighlighted .fbShowBothActivityHeader{display:inline}
.fbShowBothRecommendationsHeader{display:inline}
.fbShowBothRecommendationsHighlighted .fbShowBothRecommendationsHeader{display:none}
.fbDarkWidget div.ConnectActivityLogin{border-color:#303030;background-color:#000}
.fbProfilePic{height:35px;width:35px}
.fbImageContainer{width:35px;height:35px;background:#edeff4 url(http://static.ak.fbcdn.net/rsrc.php/v2/yD/x/DxzglMoaWwG.png) no-repeat 0 0;overflow:hidden}
.fbDarkWidget .fbImageContainer{background-position:-35px 0}
.fbConnectWidgetHeaderTitle{color:#1c2a47;border:1px solid #c6cedd;padding-bottom:7px;padding-top:8px;cursor:default}
.fbConnectWidgetHeaderTitleBranded{background:#3b5998;color:#fff;cursor:default;padding-bottom:5px;padding-top:7px}
.fbDarkWidget .fbConnectWidgetHeaderTitle{background-color:#333;border:1px solid #444}
.fbLoginButton{float:left}
.ConnectActivityLoginMessage{color:#666;line-height:14px;vertical-align:top;zoom:1}
.fbDarkWidget .ConnectActivityLoginMessage{color:gray}
.fbConnectWidgetFooter{bottom:0;cursor:default;position:absolute;width:100%}
.transparent_widget .fbDarkWidget .fbConnectWidgetFooter{background-color:transparent}
.fbConnectWidgetFooter .fbFooterBorder{border-top:1px solid #ccc;margin:0 6px;padding:4px 3px}
.fbDarkWidget .fbConnectWidgetFooter .fbFooterBorder{border-top:1px solid #444}
.fbConnectWidgetContent, .fbImageContainer img{visibility:hidden}
.fbConnectWidgetContent, .fbGalleryRecommendationsImageContainer img{visibility:hidden}
div.fbHalfPage{overflow:hidden}
div.fbAdminOptions{float:right}
.connect_widget_like_button .liketext{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/ql9vukDCc4R.png) -1px -33px no-repeat}
.connect_widget a.like_button_no_like:hover .piece, .connect_widget a.like_button_no_like:hover{background-color:#eceef5;border-color:#9dacce}
.connect_widget .like_button_like ,
.connect_widget .like_button_like .piece{background-color:#eee;border-color:#ddd;cursor:default}
.connect_widget .like_button_dark .like_button_like ,
.connect_widget .like_button_dark .like_button_like .piece{background-color:#444;border-color:#555;cursor:default}
.connect_widget .like_button_like .corner{background-position:10px -229px}
.connect_widget .like_button_dark .like_button_like .corner{background-position:10px -223px}
.connect_widget .like_button_like .liketext{background-image:none;clear:right;color:#aaa}
.connect_widget .tombstone_cross{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/ql9vukDCc4R.png) no-repeat 0 -128px;display:block;float:left;height:12px;margin-right:3px;width:14px;z-index:99}
.connect_widget .tombstone_cross_static{cursor:default}
.like_button_no_like .tombstone_cross{display:none}
.like_button_like .tombstone_cross{display:block}
.connect_widget .like_button_dark .like_button_like .tombstone_cross{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/ql9vukDCc4R.png) no-repeat 0 -156px}
.connect_widget .like_button_like .tombstone_cross:hover{background-position:0 -235px;cursor:pointer}
.connect_widget .like_button_like .tombstone_cross_static:hover{background-position:0 -128px;cursor:default}
.connect_widget .like_button_simple .like_button_like .tombstone_cross:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yG/x/ql9vukDCc4R.png);background-position:0 -128px;cursor:auto;height:12px;margin-left:0;margin-right:3px;margin-top:0;width:14px}
.connect_widget .like_button_dark .like_button_like .tombstone_cross:hover{background-position:0 -247px}
.connect_widget .connect_button_container .like_button_like .liketext,
.connect_widget .connect_widget_connect_button .like_button_like .liketext{padding-left:17px}
.connect_widget_comment_box div.connect_widget_comment_box_nub{background:none}
.connect_widget .like_button_dark .like_button_like .liketext{color:#666}
div.connect_widget div.connect_confirmation_cell_like{padding-left:7px}
.fan_box .uiStreamStory .uiStreamAttachments .photoRedesignAspect .img,
.fan_box .uiStreamStory .uiStreamAttachments .photoRedesignCover .img,
.fan_box .photoRedesign .img,
.uiStreamStory .videoRedesign .uiVideoThumb img{width:100%;left:0 !important}
.fan_box .uiStream .shareRedesign .shareRedesignMedia{display:none}
.fan_box .uiStream .shareRedesign .attachmentText,
.fan_box .uiStream .shareRedesignContainer .shareText{max-height:100%}
.fbDarkWidget .uiStreamRedesign .uiStreamMessage .messageBody{color:gray}
.fan_box .uiStream .shareRedesign,
.fan_box .uiStreamStory .photoRedesign,
.connect_widget .fan_box .uiStream .uiStreamStory .photoWrap{width:auto;height:auto}
.connect_widget{overflow:hidden}
.connect_widget .connect_widget_facebook_logo_menubar{background-color:#3b5998;border:1px solid #244588;border-bottom:none;margin-bottom:-1px;position:relative}
.connect_widget .connect_widget_facebook_logo{padding:3px 0 5px 6px;float:left}
.connect_widget .connect_widget_facebook_logo span{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v2/yJ/x/zZEOQP4uOC1.gif) no-repeat scroll 0 0;display:block;height:17px;width:90px}
.connect_widget .connect_widget_facebook_logo:hover span{background-position:left -17px}
.connect_widget .connect_widget_menu_options{float:right}
.connect_widget .connect_widget_menu_link{float:left;height:17px;margin-right:5px;padding:5px 5px 3px 5px;color:#fff;font-size:11px}
.connect_widget .connect_widget_menu_link:hover{background-color:#5c75aa;text-decoration:none}
.fbFeedbackContent.fbDarkWidget{border:none}
.fbFeedbackContent .async_saving ul, .fbFeedbackContent .async_saving .indicator, .fbFeedbackContent .async_saving .action_links{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y4/x/GsNJNwuI-UM.gif) no-repeat right}
.fbFeedbackContent.fbDarkWidget .composerHider{border-bottom:1px solid #666;border-top:1px solid #666}
.fbFeedbackContent .composerHider{border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin:0;padding:9px 0 7px}
.fbFeedbackContent .composerHider .uiSelector{margin:-3px 1px}
.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton, .fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:active, .fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:focus, .fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yK/x/nDEHv4nTejR.png);background-repeat:no-repeat;background-size:auto;background-position:right -295px;background-color:transparent;border:none;box-shadow:none;-moz-box-shadow:none;margin:0;outline:0;padding:2px 20px 2px 0}
.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton .uiButtonText{color:#333}
.fbFeedbackContent.fbDarkWidget .composerHider .uiSelector .uiSelectorButton .uiButtonText{color:#fff}
.fbFeedbackContent .composerHider .uiSelector .itemLabel{font-weight:normal}
.fbFeedbackContent .composerHider .uiSelector .checked .itemLabel{font-weight:bold}
.fbFeedbackContent .composerHider a{font-weight:bold}
.fbFeedbackContent .fbThirdPartyIcon{position:relative;right:1px;top:4px}
.fbCommentContext .fbCommentContextPosts{overflow-x:hidden;overflow-y:auto;max-height:400px}
.fbCommentContext .fbCommentContextPosts .fbTopLevelComment{padding-top:0}
.fbCommentContext .composerGrid{width:100%}
.fbCommentContext .composerTight{width:0}
.fbCommentContext .composerReply .uiButton{margin-right:4px}
.fbFeedbackContent .composer{background-color:transparent;background-color:rgba(190, 190, 190, .2);border:solid #e9e9e9;border-width:1px 0;padding:7px 10px 7px 69px;position:relative}
.fbFeedbackContent.fbDarkWidget .composer{background-color:#333;border-color:#666}
.fbFeedbackContent .fbFeedbackPosts .composer{margin-left:-10px}
.fbFeedbackContent .fbFeedbackPostsContainer .fbFeedbackPosts{padding:0}
.fbFeedbackContent .noTopBorder{border-top:0 !important}
.fbDarkWidget .fbCommentContext .composer{background-color:#555;border:none}
.fbCommentContext .composer{background-color:#f2f2f2;border:1px solid #ccc;margin-top:4px;padding-bottom:4px;padding-top:4px;padding-left:70px;position:relative}
.fbFeedbackContent .composer .viewerProfilePic{background-color:#ddd;margin:2px 0 0 0;padding:0 !important;position:absolute;left:10px}
.fbFeedbackContent.fbDarkWidget .fbFeedbackTypeahead, .fbFeedbackContent.fbDarkWidget .fbFeedbackTypeahead .wrap{border-color:#434343}
.fbFeedbackContent.fbDarkWidget .fbFeedbackMentions .mentionsTextarea, .fbFeedbackContent .fbFeedbackMentions .mentionsTextarea{border-width:0;padding:0;margin:0;box-shadow:none;background-color:transparent}
.fbFeedbackContent.fbDarkWidget .fbFeedbackMentions{background-color:#000}
.fbFeedbackContent .fbFeedbackMentions{background-color:#fff;margin:2px 0}
.fbFeedbackContent .fbFeedbackMentions .innerWrap{padding:3px}
.fbFeedbackContent .fbFeedbackMentions .highlighter{left:0;top:0}
.fbFeedbackContent.fbDarkWidget .fbFeedbackMentions .highlighter b{background-color:#444}
.fbCommentContext .textwrapper, .fbFeedbackContent .textwrapper{padding:0 8px 0 0}
.fbFeedbackContent .postToProfile{float:left;position:relative;min-width:135px}
.fbFeedbackContent .postToProfile input{position:relative;top:2px}
.fbFeedbackContent div.commentas{color:gray;float:right;margin:4px 6px}
.fbFeedbackContent .indicator{float:left;margin:10px 0 0 -45px;position:absolute}
.fbFeedbackContent select.commentas{float:right;margin:1px 6px}
.hideCommentas .commentas{display:none}
.fbCommentContext.fbDarkWidget .composer textarea, .fbFeedbackContent.fbDarkWidget .composer textarea{color:#fff;background-color:#000;border:1px solid #434343}
.fbCommentContext .composer textarea, .fbFeedbackContent .composer textarea{border-width:0;border:1px solid;border-color:#899bc5;padding:3px;width:100%}
.fbFeedbackContent .replywrapper{padding:0 8px 0 0}
.fbCommentContext .viewerProfilePic{float:left}
.fbCommentContext .replywrapper{width:100%}
.fbCommentContext .replywrappermargin{margin:0 9px}
.fbCommentContext .replywrappermargin .textarea{margin-left:-4px}
.fbFeedbackContent.fbDarkWidget .composerReply{border-top:1px solid #666}
.fbFeedbackContent .composerReply{border-top:1px solid #e9e9e9}
.fbFeedbackContent .composerReply{padding-top:8px}
.fbFeedbackContent .composerReply textarea{width:100%}
.fbFeedbackContent .postContent .action_links{margin-bottom:8px}
.fbFeedbackContent .postBlingBox{border:none;bottom:1px;cursor:text;padding:0;position:relative}
.fbFeedbackContent .postBlingBox:hover{background-color:transparent;border:none}
.fbFeedbackContent .fbUpDownVoteAfterLogin{display:inline}
.fbFeedbackContent .fbFeedbackPager{margin-left:0}
.fbFeedbackContent .fbFeedbackPager .fbFeedbackPagerLink{padding:8px}
.fbFeedbackContent .fbFeedbackReplyPager .fbFeedbackPagerLink{padding:5px 8px}
.fbFeedbackContent .fbFeedbackPager .fbFeedbackPagerLink:hover{text-decoration:none}
.fbFeedbackContent .postReplies .pagerLoader{padding-left:2px}
.fbFeedbackContent{min-height:160px}
.fbCommentContext .fbFeedbackContent{min-height:0}
.fbFeedbackContent .fbFeedbackPosts{padding:0 0 0 10px}
.fbFeedbackContent .star{height:11px;width:11px}
.fbFeedbackContent .followLinkInlineCheck, .fbFeedbackContent .followLinkInlineCheckDark{margin-right:4px}
.fbFeedbackContent .post{margin-top:4px}
.fbFeedbackContent .post input{margin-left:0}
.fbCommentContext .post .uiSelector, .fbCommentContext .cancel .uiSelector, .fbFeedbackContent .post .uiSelector, .fbCommentContext .post .uiButton, .fbCommentContext .cancel .uiButton, .fbFeedbackContent .post .uiButton{float:right}
.fbCommentContext .post .uiSelector .uiButton, .fbCommentContext .cancel .uiSelector .uiButton, .fbFeedbackContent .post .uiSelector .uiButton{float:none}
.fbFeedbackContent .post label.desc{font-weight:normal;position:absolute;top:4px}
.fbFeedbackContent .profileName{font-size:11px}
.fbFeedbackContent .fbFeedbackPost{border:solid #e2e2e2;border-width:1px 0 0;clear:both;padding-bottom:0 !important;padding-top:10px}
.fbFeedbackContent.fbDarkWidget .fbFeedbackPost{border-color:#555}
.fbFeedbackContent li.fbTopLevelComment:first-of-type{border-width:0}
.fbFeedbackContent li.fbTopLevelComment:last-of-type{margin-bottom:-5px}
.fbDarkWidget .fbFeedbackReplies .fbFeedbackPost{border-color:#444}
.fbFeedbackReplies .fbFeedbackPost{border-width:0 0 1px 0;border-color:#e9e9e9}
.fbFeedbackReply form, .fbFeedbackContent .postReply, .postReplies{margin-top:8px}
.postReplies .uiMorePagerLight .uiMorePagerPrimary:hover{background-color:transparent;background-color:rgba(225, 228, 237, .6)}
.postReplies .uiMorePagerInverted .uiMorePagerPrimary, .postReplies .uiMorePagerInverted .uiMorePagerLoader{background-color:transparent;border-width:1px 0 0 0;border-color:#444}
.fbFeedbackContent .uiMorePagerInverted .uiMorePagerPrimary:hover{background-color:#444;border-color:#555}
.fbDarkWidget .closeButton .uiCloseButton, .fbDarkWidget .closeButton .openToggler .uiCloseButton, .fbDarkWidget .closeButtonAfterLogin .uiCloseButton{border:1px solid #000;margin:0}
.fbFeedbackContent .postContainer:hover .closeButton, .fbFeedbackContent .postContainer:hover .closeButtonAfterLogin{visibility:visible}
.fbFeedbackContent .postContainer .closeButton, .fbFeedbackContent .postContainer .closeButtonAfterLogin{float:right;visibility:hidden}
.fbFeedbackPost{position:relative}
.fbFeedbackPost .postContent{margin-top:5px}
.fbDarkWidget .fbFeedbackPost .postText{color:#ccc}
.fbFeedbackPost .postText{color:#1a1a1a;line-height:14px;margin:0 28px 5px 0}
.fbFeedbackPost .postActor{background-color:#ededed;margin-bottom:8px;margin-right:11px}
.fbDarkWidget .postActor{background-color:#333}
.fbFeedbackReplyPager{height:16px;margin-bottom:8px}
.fbFeedbackContent .fbConnectWidgetFooter{position:static}
.fbFeedbackContent .fbConnectWidgetFooter .fbFooterBorder{margin:5px 0 0 0}
.fbTopLevelComment .fbFeedbackReplies .fbCommentReply{border-width:1px 0 0}
.fbFeedbackContent .fbCommentOverlay{border-style:solid;border-width:1px;position:absolute;top:0;left:0;bottom:0;right:0;opacity:.90;font-size:12px}
.fbFeedbackContent .fbReportedByUser{background-color:#fff;border-color:#eee}
.fbFeedbackContent .fbRecentlyBlacklisted{background-color:#444;border-color:#1a1a1a}
.fbFeedbackContent .fbRecentlyPublicized{background-color:#e4ffe2;border-color:#d2f1d0}
.fbFeedbackContent .fbRecentlyPrivatized{background-color:#fffbe8;border-color:#f7e0ff}
.fbFeedbackContent .fbCommentOverlayInsert{position:absolute;top:50%;margin-top:-0.5em;text-align:center;width:100%}
.fbFeedbackContent .fbCommentDownvotedButVisible .postText{color:gray}
.fbFeedbackContent .fbCommentOverlayDark{color:#000}
.fbFeedbackContent .fbCommentOverlayLight{color:#fff}
.fbFeedbackContent .fbCommentOverlayLight a:link, .fbFeedbackContent .fbCommentOverlayLight a:hover, .fbFeedbackContent .fbCommentOverlayLight a:visited, .fbFeedbackContent .fbCommentOverlayLight a:active{color:#999}
.fbCommentsEditSettings .uiInfoTable .label{width:145px;vertical-align:middle}
.fbCommentsEditSettings .uiInfoTable tr{border-top:1px solid #ccc}
.fbCommentsEditSettings .uiInfoTable tr:first-child{border:none}
.fbCommentsEditSettings .uiInfoTable th{padding:10px 5px 10px 0}
.fbCommentsEditSettings .uiInfoTable td{padding:10px 0 10px 5px}
.fbCommentsEditSettings .uiInfoTable tr:first-child th, .fbCommentsEditSettings .uiInfoTable tr:first-child td{padding-top:0}
.fbCommentsEditSettings .uiInfoTable tr:nth-last-child(2) th, .fbCommentsEditSettings .uiInfoTable tr:nth-last-child(2) td{padding-bottom:0}
.fbCommentsEditSettings .uiInfoTable tr:last-child, .fbCommentsEditSettings .uiInfoTable tr.custom_blacklist{border:none}
.fbCommentsEditSettings .uiInfoTable tr.custom_blacklist th, .fbCommentsEditSettings .uiInfoTable tr.custom_blacklist td{padding:0 5px 10px 5px}
.fbDarkWidget .warning a{color:gray}
.fbFeedbackContent .closeButton .editSelector .uiCloseButton{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yx/x/rkQF27utoCR.png)}
.fbFeedbackPost .postContainer .fbCommentEditor textarea{padding:3px;width:100%;border:none}
.fbFeedbackPost .postContainer .fbCommentEditor{padding:7px 10px 7px 10px;min-height:0}
.fbFeedbackPost .postContainer .fbCommentEditor .textBoxContainer{background-color:#fff}
.fbFeedbackPost .postContainer .fbCommentEditor .highlighter{font-size:11px;font-weight:normal}
.sp_comments{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yX/x/U9AwDhGgiju.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_comments_favicon{background-position:-0px -153px}
.sx_comments_cfavicon{width:14px;height:14px;background-position:-0px -187px}
.sx_comments_yahoo{background-position:-17px -153px}
.sx_comments_aol{background-position:-34px -153px}
.sx_comments_msft{background-position:-0px -170px}
.sx_comments_pyahoo{width:50px;height:50px;background-position:-0px -0px}
.sx_comments_paol{width:50px;height:50px;background-position:-0px -51px}
.sx_comments_pmsft{width:50px;height:50px;background-position:-0px -102px}
.sx_comments_star{width:11px;height:10px;background-position:-0px -202px}
.sx_comments_darkstar{width:11px;height:10px;background-position:-28px -187px}
.sx_comments_arrowb{width:9px;height:5px;background-position:-33px -202px}
.sx_comments_arroww{width:9px;height:5px;background-position:-23px -202px}
.sx_comments_arrowl{width:5px;height:3px;background-position:-28px -198px}
.sx_comments_like{width:15px;height:13px;background-position:-33px -170px}
.sx_comments_darklike{width:15px;height:13px;background-position:-17px -170px}
.sx_comments_subscribe{width:12px;height:14px;background-position:-15px -187px}
.sx_comments_subscribedark{width:10px;height:10px;background-position:-40px -187px}
.sx_comments_followLinkInlineCheck{width:9px;height:11px;background-position:-0px -213px}
.sx_comments_followLinkInlineCheckDark{width:10px;height:10px;background-position:-12px -202px}
.pluginButton{background:#eceef5;border-radius:3px;border:1px solid #cad4e7;cursor:pointer;padding:2px 6px 4px;white-space:nowrap;color:#3b5998}
.pluginButtonInline{display:inline-block}
.pluginButtonX{cursor:default}
.pluginButton button{background:transparent;border:0;margin:-1px;padding:0;font:inherit;color:inherit;cursor:pointer}
.pluginButton button::-moz-focus-inner{border:0;padding:0}
.pluginButtonIcon{position:relative;top:3px;margin-right:3px}
.pluginButtonSmall{padding:0 5px 2px 5px}
.pluginButtonSmall .pluginButtonIcon{margin-right:2px}
.pluginButton:hover{border-color:#9dacce}
.pluginButtonPressed, .pluginButtonPressed:hover{background-color:#eee;border-color:#ddd;color:#aaa}
.pluginSkinDark .pluginButton{background-color:#c7c7c7;border-color:#999;color:#333}
.pluginSkinDark .pluginButton:hover{background-color:#d9d9d9;border-color:#ddd}
.pluginSkinDark .pluginButtonPressed, .pluginSkinDark .pluginButtonPressed:hover{background-color:#444;border-color:#555;color:#666}
.pluginButtonErrorLink{color:#a00;font-weight:bold}
.pluginButtonX .pluginButtonXOff, .pluginButtonX button:hover .pluginButtonXOn{display:inline-block}
.pluginButtonX .pluginButtonXOn, .pluginButtonX button:hover .pluginButtonXOff{display:none}
.pluginButton .pluginButtonThrobber, form.async_saving .pluginButtonIconWithThrobber{display:none}
form.async_saving .pluginButtonThrobber{display:inline-block;margin-top:2px;margin-bottom:1px;max-width:14px}
.pluginErrorLink{color:#f03d25}
.pluginFontArial{font-family:"arial", sans-serif}
.pluginFontLucida{font-family:"lucida grande", sans-serif}
.pluginFontSegoe{font-family:"segoe ui", sans-serif}
.pluginFontTahoma{font-family:"tahoma", sans-serif}
.pluginFontTrebuchet{font-family:"trebuchet ms", sans-serif}
.pluginFontVerdana{font-family:"verdana", sans-serif}
.uiMorePagerInverted .uiMorePagerPrimary,
.uiMorePagerInverted .uiMorePagerLoader{padding:6px 5px 10px;border:1px solid #444}
.uiMorePagerInverted .uiMorePagerPrimary:hover{background-color:#444}
.uiMorePagerInverted .uiMorePagerSecondary{margin:6px 5px}
.sp_vo5f1g{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/y-/x/xouNk_dzUFh.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_8ee3cc{background-position:0 0}
.sx_aff3f4{background-position:0 -15px}
.sp_favicon{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/x/Uk6BAIXon_o.png);background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_favicon_fav{background-position:-0px -0px}
.sx_favicon_favgrey{background-position:-0px -15px}

#bootloader_0oZMl { height: 42px; }