@CHARSET "ISO-8859-1";
body
{
	margin:auto;
	width:auto;
}
#navbar
{
	margin:auto;
	position:fixed;
	width:auto;
	height:20px;
	font-size:20px;
	font-family:sans-serif;
	background-color: #800000;
	color:white;
	border:solid 1px red;
}
#header
{
	margin:auto;
	width:960px;
	height:100px;
	font-size:20px;
	font-family:sans-serif;
	background-color: aqua;
	border:solid 1px red;
}
#content
{
	margin:auto;
	width:960px;
	border:solid 1px blue;
}
#job_photo
{
	float:left;
	padding:auto;
	border:solid thin blue;
}
#registration_form
{
	margin:50px auto 20px auto;
	padding:20px;
	color:black;
	background-color:#F1F1F1;
	font-size: 16px;
	border: solid thin grey;
}
#footer
{
	margin:auto;
	width:960px;
	text-align: center;
	border:solid 1px blue;
}
#login_form
{
	margin:50px auto;
	padding:20px;
	color:black;
	background-color:#F1F1F1;
	font-size: 16px;
	border: solid 1px gray;
}
#jseekers_info
{
	margin:50px auto;
	padding:20px;
	color:black;
	background-color:#F1F1F1;
	font-size: 16px;
	border: solid 1px gray;
}