/*
#wp_page_numbers ul, #wp_page_numbers li, #wp_page_numbers a {
	background: white;
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	list-style: none;
	text-transform: none;
	text-indent: 0px;
	font-variant: normal;
	text-align: left;
	line-height: 12px;
	letter-spacing: 0px;
	word-spacing: 0px;
	font-size: 11px;
	font-family: Arial;
       
}

#wp_page_numbers {
       	margin-top: 10px;
	width: 100%;
	background: white;
	margin-bottom: 10px;
}
#wp_page_numbers ul {
	width: 100%;
}
#wp_page_numbers li {
	float: left;
	display: block;
	margin-bottom: 2px;
}

#wp_page_numbers a {
	padding: 4px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 2px;
	margin-right: 2px;
	display: block;
	color: #333;
	border: 1px solid #2674b1;
}

#wp_page_numbers li a:hover {
	border-color: #ff8000;
}

#wp_page_numbers li.space {
	padding: 6px;
	padding-left: 2px;
	padding-right: 2px;
}

#wp_page_numbers li.first_last_page {
	font-style: italic;
}

#wp_page_numbers li.active_page a {
	border-color: #000000;
}
#wp_page_numbers li.active_page a:hover  {
	color: black; /* IE fix 
	text-decoration: underline;
	border-color: #ff8000;
}

#wp_page_numbers li.page_info {
	float: left;
	display: block;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 2px;
	color: #666;
	font-size: 11px;
	border: 1px solid #bfbfbf;
}
*/
