<?xml version="1.0" encoding="UTF-8"?>

<taglib 
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:SchemaLocation="http://java.sun.com/sml/ns/j2ee/web-jsptaglibrary_2,0.xsd"
	version="2.0"
>

	<tlib-version>1.2</tlib-version>
	<uri>/hello</uri>
		<tag>
			<description>simple-tag</description>
			<name>Hellow</name>
			<tag-class>TagPack.Hello</tag-class>
			<body-content>empty</body-content>
		</tag>
		
		<tag>
			<description>simple-tag</description>
			<name>Hellow</name>
			<tag-class>TagPack.Hello</tag-class>
			<body-content>scriptless</body-content>
		</tag>
</taglib>