body { background-color : #C0D9D9;}

div.title {     text-align : center; 
		color : black;
		font-weight : bold; 
		font-size :  30px;
		margin-bottom: 30px;
		margin-top: 30px
}

div.code {color : black; font-size :  80%; background-color: white; border-style: solid; border-color: black}

p.ptitle {font-weight : bold; font-size : 150%; }

div.hmenu {
	text-align : center; 
	font-size : 15px;
	background-color: darkcyan;
	border-style: groove; 
	border-color: black; 
	border-width: 3px;
}

a.hmenu {
	text-decoration:none;
	color:white;
	width:100%;
}
a.hmenu:link {color: white}
a.hmenu:visited {color: white}
a.hmenu:hover {color: yellow; text-decoration: underline}

